<launch>  
  
  <arg name="rviz" default="True" />

  <node pkg="tf" type="static_transform_publisher" name="world_kinect_tf_bc" args="0 0 0 0 -0.436332313 0 /new_world /camera_depth_frame 5" />

  <group>
    <include file="$(find freenect_launch)/launch/freenect.launch"/>
  </group>
  
  <group>
  	<node pkg="rbmt_tracking" name="pcl_tracking" type="pcl_tracking_node" args="input:=/camera/depth/points"/>
  </group>

  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rbmt_tracking)/cfg/setting.rviz" />
  </group>

</launch>