<launch>  
  
  <arg name="rviz" default="False" />
  <arg name="kinect_black" default="False"/>
  <arg name="kinect_white" default="False"/>
  <arg name="end_pose" default="True">
  
  <group if="$(arg kinect_white)">
    <include file="$(find rbmt_tracking)/launch/freenect_white.launch"/>
  	<node pkg="rbmt_tracking" name="pcl_input_white" type="pcl_input_white"/>
    <node pkg="rbmt_tracking" name="kinect_tf_white" type="kinect_tf_white"/>
    <node pkg="rbmt_tracking" name="marker_transform_white" type="marker_transform_white"/>
  </group>

  <group if="$(arg end_pose)">
    <node pkg="rbmt_tracking" name="tracking_node" type="tracking_node"/>
  </group>
  
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rbmt_tracking)/cfg/setting_white.rviz" />
  </group>

</launch>
