<launch>
  <!-- vim: ft=xml -->
  
  <!-- Launch params -->
  <arg name="real_rbmt" default="False" />
  <arg name="rviz_on" default="False" />
  <arg name="teleop" default="True" />

  <!-- Set up parameter server -->
  <param name="real_rbmt" value="$(arg real_rbmt)"/>

  <!-- Simulator start-up -->
  <group if="$(arg real_rbmt)">
    <include file="$(find rbmt_base_ctrl)/launch/rbmt_serial.launch"/>
  </group>

  <group unless="$(arg real_rbmt)">    
    <node pkg="rbmt_sim" type="rbmt_sim_node" name="rbmt_sim" output="screen"/>
  </group>
  
  <!-- Navigation node start-up -->
  <include file="$(find rbmt_map)/launch/frame_setup.launch"/>
  <include file="$(find rbmt_nav)/launch/nav_cfg.launch"/>
  <include file="$(find rbmt_nav)/launch/move_base.launch"/>

  <group if="$(arg teleop)">
    <node pkg="joy" type="joy_node" name="joy" output="screen"/>
    <node pkg="rbmt_teleop" type="rbmt_teleop_node" name="teleop" output="screen"/>
  </group>

  <!-- RVIZ start-up -->
  <group if="$(arg rviz_on)">
    <include file="$(find rbmt_urdf)/launch/display.launch"/>
  </group>

</launch>
